.benefits__container {
    //   @extend %container;
   padding-left: 15px;
    padding-right: 15px;
     margin: 0 auto;
    @media screen and  (max-width: 767px) {
    max-width: 767px;    
 
}
    
    @media screen and  (min-width: 768px) {
        display: flex;
        width: 768px;
     
    }
    @media screen and  (min-width: 1200px){
    display: flex;
    width: 1200px;
    margin: 0 auto;
}  
  
}

.benefits__section {
  @extend %section;
}


.benefits__list {
    @media screen and (min-width: 320px) and  (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
    
        justify-content: center;   
         margin: 0;
         gap: 30px;}

    @media screen and  (min-width: 1200px) {
  display: flex;  
  align-items: start;
  margin: 0;
  padding: 0;

}
}


.benefits__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $titleTextColor;

    @media screen and (max-width: 767px) {
        text-align: centerl;
        // align-items: center;
      
    }
    @media screen and (min-width: 768px) {
        text-align: left;
        // align-items: flex-start;
      
    }
}
.benefits__text {
    margin-top: 0;
    margin-bottom: 0;
    color: $primaryTextColor;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: .03em;
}
    
.benefits__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    // margin-bottom: 30px;
    // align-items: center;

    @media screen and  (max-width: 767px) {
        max-width: 450px;
        align-items: center;
        // gap: 30px;
        }
       
        @media screen and  (min-width: 768px) and  (max-width: 1199px) {
         width: 354px;
        //  align-items: s;
        //  gap: 30px;
        }
        
        @media screen and  (min-width: 1200px) {
            width: 270px;
            
        }

   
    // @media screen and  (min-width: 768px) and (max-width: 1199px) {
    //    width: 270px;
    // //    gap: 30px;  
    //     // height: 500px;
    
      
    //     // проверить маржині
    // }
    // @media screen and  (min-width: 320px) and  (max-width: 767px) {
    //     width: 354px;
    //     // gap: 30px;  
   
    // }
    @media screen and  (min-width: 1200px) {
        width: 270px;
    

    // padding-left: 0;
    margin-left: 30px;
    &:nth-child(1) { 
    margin-left: 0px;
    
    }

}
}

.benefits__item:nth-child(1) {
    padding-left: 0;
    // margin-left: 0;
}



.benefits__icon {
    // margin-right: 10px;
    fill: currentcolor;
    width: 70px; 
    height: 70px;
    
}


.benefits__icons-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $pageBackgroundColor;
    margin-bottom: 30px;

    border-radius: 4px;
    // height: 120px;
    @media screen and  (max-width: 1199px) {
    // margin-top: 30px; 
    // margin-left: 30px;
    &:nth-child(-n + 2) { 
    margin-top: 0px;

}
    
    }

    @media screen and  (min-width: 480px) {

    }

    @media screen and  (min-width: 768px) {

    }


    @media screen and  (min-width: 1200px) {
    
    flex-basis: calc((100% - 90px) / 4); 
   }
}
    


   .benefits__icons-box--container {
    display: flex;
    background-color: rgb(245, 244, 250);
    flex-direction: column;
    flex-wrap: wrap;
    height: 120px;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 767px) {
    max-width: 450px;
    // gap: 30px;
    }
   
    @media screen and  (min-width: 768px) and  (max-width: 1199px) {
     width: 354px;
    }
    
    @media screen and  (min-width: 1200px) {
        width: 270px;
        
    }
   }
  

