.header__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-width:768px) and (max-width:1199px) {
    max-width: 1199px;
    margin: 0;
    display: flex;
    // justify-content: space-around;
    // margin-left: 87px;

    }
    @media screen and (min-width: 1200px) {
    
    width: 1200px;

    margin: 0px auto;
}
//     @media screen and  (max-width: 1199px)
//      { 
//     margin: 0px;
// }  
}

// @media screen and (min-width: 768px) {
//     display: flex;
//     width: 768px;  
//     margin: 10px auto;

// }

// .contacts::before {
//    @media screen and (max-width: 767px) {
//    display: none;
// }
// }

.contacts {
//    @media screen and (max-width:767px) {
//     display: flex;
//     margin-left: auto;
//     align-items:center;
//     padding-left: 0;
//     }
    @media screen and (max-width:767px) {
        display: none;
    }
    @media screen and (min-width:768px) and (max-width:1199px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        align-items:center;
        pad1199pxding-left: 0;
        margin-left: 97px;
        }


    @media screen and (min-width: 1200px){

    display: flex;
    margin-left: auto;
    align-items:center;
    padding-left: 0;
}



}


.contacts__item {
    display: flex;
    position: relative;
    @media screen and (min-width:768px) and (max-width:1199px) {
        margin: 0;
        margin-bottom: 10px;
        &:nth-child(2) {
        margin-bottom: 0;
    }

    }   

 @media screen and (min-width: 1200px) {
    margin-left: 50px;
    &:nth-child(1) {
    margin-left: 0;
   
    }  
     
    }


}

.contacts__link {
 align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $primaryTextColor;
    transition: fill 250ms $transitionCubic, color 250ms $transitionCubic; 
    
    // @media screen and (min-width: 1200px) {  
    // margin-left: 50px;}

   

    &:hover, 
    &:focus {
    color: $iconBackgroundColor;
    }

    @media screen and (min-width:768px) {

    }
    display: flex;
   
    
}

.contacts__icon {
    fill: currentColor;
    margin-right: 10px;
    padding: 0;
    margin-bottom: 0;
    transition: color 250ms $transitionCubic;
    @media screen and (min-width:320px) and (max-width: 1199px){
        width:14px; height:14px;
        margin-right: 8px;
    }


    &:hover, 
    &:focus {
    fill: $iconBackgroundColor;
    color: $iconBackgroundColor; 
   }

}
