.logo {
    display: flex;
    text-decoration: none;
    color: $titleTextColor;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    // margin-right: 93px ;
    align-items: center;
    
    &--accent {
    color: $accentColor; 

    }
 @media screen and (min-width: 320px)  and (max-width: 1190px) {
        // margin-right: 93px ;
        padding-top: 0px;
      


      }
      @media screen and (min-width: 320px) and (max-width: 1199px) {
        // padding-top: 0px;
        // // padding-bottom: 16px;
        // padding-top: 16px;
        font-size: 24px;
        line-height: 1.16;
        // margin-bottom: 20px;

        
      }


   @media screen and (min-width: 1199px) { 
     margin-right: 93px;
     justify-content: center;
     }
    

  &--footer {
    color: $whiteColor;
    margin: 0px ;
    text-align: start;  
    margin-bottom: 20px;
}

      

}




 
